#pqmelodia h3 {
    font-size: 55px;
    padding-top: 119px;
}

#func h3 {
    padding-top: 128px;
    font-size: 55px;
}

#dep h3 {
    padding-top: 167px;
    font-size: 55px;
}

#music {
    padding-top: 158px;
}